/****Header*****/
 
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,700) ;

html{
	text-align: center;
}

body{
	font-family: 'Exo 2', sans-serif;
	font-weight:400;
}

/******************************
*******************************
*************Header************
*******************************
*******************************/

@font-face {
	font-family: "AmplitudeWide-Book";
	src: url("AmplitudeWide-Book.otf") format("opentype");
}

/*
html{
	text-align: center;
	font-family: "AmplitudeWide-Book", Arial, serif;

}*/

header{
    font-weight: 400;
    height: 70px;
    background-color: #003762;
    /* max-width: 1180px; */
    width: 100%;
    padding: 17px;
    display: inline-block;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1000000;

}

#headerContainer{
	margin-right: auto;
    /* max-width: 960px; */
    position: absolute;
    left: 0px;
    background-color: #003762;
    width: 100%;
    height:53px;
}

#headerWrapper{
	margin:0 17px 0 17px;
	/*margin-right: auto;
    /* max-width: 960px;
    position: absolute;
    background-color: #003762;
    width: calc(100% - 35px) !important;
    height:53px;*/
}


#logo {
	height: 37px;
	float:left;
	padding-top: 2px;
}

#navigationHeader{
	float:right;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.login{
	color:white;
	font-size: 15px;

}

#separator{
	color: #336699;
	font-size: 20px;
	padding: 10px;

}

/**********headerEnd**********/



#container{
	position: relative;
}

#backButton {
	position: absolute;

}

#pageElements {
    margin:auto;
    width:60%;
}

#search {
	width: 100%;
	height: 35px;
	font-size: 20px;
}

#main{
	width:94%;
	margin:auto;
	margin-top:70px;
}

.text-center{
	text-align: center;
}

div p{
	color: grey;
	margin-left: 3%;
}

#navigationHeader a:hover, #navigationHeader a:active, #navigationHeader a:visited{
	color:white;
}


/**************************************************
***************************************************
***************************************************
********************SEARCH CSS*********************
***************************************************
***************************************************/

#navbar{
	padding-top: 20px;
}

.backbutton {
	position: fixed;
	left: 5px;
	top:75px;
}

#searchElements{
    height: 95px;
	margin: auto;
    margin-bottom: 20px;
    width: 60%;
    margin-top: 150px;
    min-width: 600px;
}

#search{
    margin-left: -25px;
    background: none;
    border: none;
    border-bottom: 1px solid #2d2d2d;
    padding-left: 40px;
    padding-right: 20px;

}

input:focus{
	outline:0;
}

#search:focus{
	border:none;
	border-bottom:1px solid #2d2d2d;
}

#search:disabled{
	color:gray;
}

#searchIcon{
	font-size:17px;
}



table{
	margin-top: 30px;
}



#fixedSite{
	position: fixed;
	display: block;
	width: 100%;
	top: 0;
	left: 50%;
	margin-left: -50%;
	z-index: 1000;
	height: 320px;
	background-color: white;
}

#fixedTransactionSite{
	position: fixed;
	display: block;
	width: 100%;
	top: 0;
	left: 50%;
	margin-left: -50%;
	margin-top:70px;
	z-index: 100000;
	height: 160px;
	background-color: white;
}


#bumpDown{
	margin-top: 350px;
}

#transactionBumpDown{
	margin-top: 270px;
}


#tableHeader{
	position: fixed;
	z-index: 100000000;
	top: 315px;
	width: 94%;
	left: 51.52%;
	margin-left: -48.48%;
	min-width: 50%;
}

#tableTransactionHeader{
	position: fixed;
	z-index: 100000000;
	top: 230px;
	width: 94%;
	left: 51.52%;
	margin-left: -48.48%;
	min-width: 50%;
}

#tableContainer{
	position: relative;
	display: block;
	margin-bottom: 5%;

}

#footer{
	position: fixed;
	bottom: 0;
	text-align: center;
}

div #pageNumber{
	text-align: center;
	bottom:0;
	position: fixed;
	left: 0;
	right: 0;
	background-color: white;
	height: 30px;
	padding-bottom: 0;
	margin-bottom: 0;
}

#noResultDescription {
	margin-left: 17%;
	margin-top: 30px;
	font-size: 30px;
}

.disableSort{
	background-color:gray;
	cursor:default;
}

table{
	margin-left: 17%;
 	border: 1;
 	width: 60%;
 	margin:auto;
 	min-width: 600px;
}

table, tr {
	text-align: center;
}

table, th , td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}

th{
	cursor:pointer;
	color:white;
	background-color:#003762;
	border-left:none;
	border-right:none;
}

/*Width on Searchtable*/
#nameColumn, #typeColumn, #municipalityColumn, #idColumn{
	min-width: 25%;
	max-width: 25%;
	width: 200px;
	table-layout: fixed;
}

/*Width on transaction site*/

#propertyID{
	max-width: 20%;
	min-width: 20%;
}
/*
#flaggingID{
	width: 20%;
}

#involvedMunicipID{
	width: 22%;
}
*/

tr:nth-child(odd){
	background-color:#EAEAEA;
}

tr:hover{

}

td, th{
	height:35px;
	padding:0 5px;
	text-align: center;
}


td{
	cursor:pointer;
}

td:nth-child(odd){
	border:none;
}

td:nth-child(even){
	border:none;
	/*border-left:1px solid gray;
	border-right:1px solid gray;*/
}

.name{
	text-align: right;
}

.kommunevaapen{
	height: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

.transactionurl{
	color: #2d2d2d;
}

.transactionurl:hover{
	color: #2d2d2d;
	/*text-decoration: none;*/
}

.selected-row, tr:hover{
	background: rgba(105, 105, 105, 0.4) !important;
}

/****************************************/
/**************  NAV CSS  ***************/
/****************************************/

#prevPage {
    left: 0;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 100px;
    position: fixed;
    z-index: 10000;
}

#nextPage {
    right: 0;
    margin-right: 10%;
    margin-top: 10%;
    font-size: 100px;
    position: fixed;
    z-index: 10000;
}

.navButtonActive {
    cursor: pointer;
    color: #2d2d2d;
}

.navButtonInactive {
    cursor: default;
    color: lightgray;
}

#transaksjonsType{
	text-align: center;
}

.propertyTable tr td{
	cursor:default;
}

#pageNumber{
	text-align: center;
}


.leftalign{
	text-align: left;
}

.rightalign{
	text-align: right;
}


/****************************************/
/************  CHART CSS  ***************/
/****************************************/

#chartContainer{
	width:60%;
	margin:auto;
}

div .container{
	  width: 42%;
	  height: auto;
	  margin-top: 240px;
}


svg .land {
    stroke-width: 0;
    stroke: #fff;
    position: absolute;
    -webkit-transition: stroke 0.3s, stroke-width 0.3s, fill 0.3s;
    -o-transition: stroke 0.3s, stroke-width 0.3s, fill 0.3s;
    transition: stroke 0.3s, stroke-width 0.3s, fill 0.3s;
}



svg .land:hover, svg .land:active {

    cursor: pointer;
    stroke-width: 1;
    stroke: #000;
    opacity: 1;
    position:relative;
    fill:#d2232a;
    /*
    transform: scale(1.2);
    transform-origin: 30% 70%;
    z-index: -30;/*
    top:0px;
    left:0px;
    /*transform: translate(-250 -270);*/

}

/********************************
*********************************
********DROPDOWN*****************
*********************************
********************************/

#advanced-div{
	margin-top: 10px;
}

select {
	-webkit-appearance:none;
	-webkit-border-radius:0px;
    border: 1px solid #111;
    background: white;
    width: 150px;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #2D2D2D;
    height: 34px;
    margin-left:25px;
}

select:focus{
	outline:none;
}

select:disabled{
	color:gray;
}

.select-arrow{
	-webkit-transform:rotate(90deg);
	margin-left:-18px;
	font-size:10px;
	pointer-events:none;
}

#advanced-div select:first-child{
	margin-left:0px;
}