/****Header*****/

@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,700) ;

html{
	text-align: center;

}

body{
	font-family: 'Exo 2', sans-serif;
	font-weight:400;
}

/******************************
*******************************
*************Header************
*******************************
*******************************/

@font-face {
	font-family: "AmplitudeWide-Book";
	src: url("AmplitudeWide-Book.otf") format("opentype");
}

/*
html{
	text-align: center;
	font-family: "AmplitudeWide-Book", Arial, serif;

}*/

header{
	height: 70px;
	background-color: #003762;
	/*max-width: 1180px;*/
	width: 100%;
	padding: 17px;
	display: inline-block;

}

header #one{
	font-weight:700;
}

header #two{
	font-weight:200;

}

#headerWrapper{
	margin-right: auto;
	/*max-width: 960px;*/
}

.menu_open, .menu_close{
	width: 36px;
	height: 36px;
	float:left;
	margin-right: 20px;
}

.menu_open{
	background-image: url("../images/menu_circle.svg");
	cursor: pointer;
}

.menu_close{
	background-image: url("../images/menu_close.svg");
	cursor: pointer;
}

.backgroundTransform{
	-webkit-transition:background 0.5s, opacity 0.5s;
	-moz-transition:background 0.5s, opacity 0.5s;
	-o-transition:background 0.5s, opacity 0.5s;
	transition:background 0.5s, opacity 0.5s;
}



#logo {
	height: 37px;
	float:left;
	padding-top: 2px;
}

#search_circle{
	width: 36px;
	height: 36px;
	float: right;
	margin-left: 40px;
	float:right;

}

#navigationHeader{
	float:right;
	margin-top: 5px;
	margin-left: 10px;


}

.login{
	color:white;
	font-size: 15px;

}

#separator{
	color: #336699;
	font-size: 20px;
	padding: 10px;

}

/**********headerEnd**********/



#container{
	position: relative;
}

#backButton {
	position: absolute;
>>>>>>> Stashed changes
}

#pageElements {
    margin-left: 15%;
}

#search {
	width: 65%;
	height: 35px;
	font-size: 20px;
}

#main{
	width:94%;
	margin:auto;
}

.text-center{
	text-align: center;
}

div p{
	color: grey;
	margin-left: 3%;
}

/**************************************************
***************************************************
***************************************************
********************SEARCH CSS*********************
***************************************************
***************************************************/

#searchElements{
	margin-top: 50px;
	margin-left: 15%;
	margin-bottom: 20px;
}

#search{
    margin-left: -25px;
    background: none;
    border: none;
    border-bottom: 1px solid #2d2d2d;
    padding-left: 40px;
    padding-right: 20px;

}

input:focus{
	outline:0;
}

#search:focus{
	border:none;
	border-bottom:1px solid #2d2d2d;
}

#search:disabled{
	color:gray;
}

#searchIcon{
	font-size:17px;
}

table{
	margin-left: 17%;
	margin-top: 30px;
<<<<<<< Updated upstream
 	border: 1;
=======
	font-size: 30px;
}

table{
	margin-left: 17%;
 	border: 1;
 	width: 60%;
}

table, tr {
	text-align: center;
}

table, th , td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}

th{
	cursor:pointer;
	background-color:darkGrey;
}

tr:nth-child(odd){
	background-color:#EAEAEA;
}

td, th{
	height:35px;
	padding:0 5px;
	text-align: center;
}

td{
	cursor:pointer;
}

td:nth-child(odd){
	border:none;
}

td:nth-child(even){
	border:none;
	border-left:1px solid gray;
	border-right:1px solid gray;
}

.name{
	text-align: left;
}

/****************************************/
/**************  NAV CSS  ***************/
/****************************************/

#prevPage {
    left: 0;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 100px;
    position: fixed;
}

#nextPage {
    right: 0;
    margin-right: 10%;
    margin-top: 10%;
    font-size: 100px;
    position: fixed;
}

.navButtonActive {
    cursor: pointer;
    color: #2d2d2d;
}

.navButtonInactive {
    cursor: default;
    color: lightgray;
}

#transaksjonsType{
	text-align: center;
}

.propertyTable tr td{
	cursor:text;
}

#pageNumber{
	text-align: center;
}

/****************************************/
/************  CHART CSS  ***************/
/****************************************/

#chartContainer{
	width:60%;
	margin:auto;
}

svg {
  width: 50%;
  height: auto;
}



svg .land {
    stroke-width: 0;
    stroke: #fff;
    position: absolute;
    -webkit-transition: stroke 0.5s, stroke-width 0.5s;
    -o-transition: stroke 0.5s, stroke-width 0.5s;
    transition: stroke 0.5s, stroke-width 0.5s;
}



svg .land:hover, .land.active {

    -webkit-transition: stroke 0.5s, stroke-width 0.5s;
    -o-transition: stroke 0.5s, stroke-width 0.5s;
    transition: stroke 0.5s, stroke-width 0.5s;
    cursor: pointer;
    stroke-width: 1;
    stroke: #000;
    opacity: 1;
    position:relative;

    /*
    transform: scale(1.2);
    transform-origin: 30% 70%;
    z-index: -30;/*
    top:0px;
    left:0px;
    /*transform: translate(-250 -270);*/

}
