table{
	margin-left: 17%;
	margin-top: 30px;
 	border: 1; 
 	width: 60%;
}

table, tr {
	text-align: center;
}

table, th , td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}

th{
	cursor:pointer;
	background-color:darkGrey;
}

tr:nth-child(odd){
	background-color:#EAEAEA;
}

td, th{
	height:35px;
	padding:0 5px;
	text-align: center;
}

td:nth-child(odd){
	border:none;
}

td:nth-child(even){
	border:none;
	border-left:1px solid gray;
	border-right:1px solid gray;
}

.name{
	text-align: left;
}