<div id="error_no_login">
<div id="loginInfo" data-ng-show="login">
	<h2 class="red">Vennligst logg inn</h2>
	<div id="loginInfoCenter">Du må være abonnent for å få tilgang. Allerede abonnent? Logg inn <a data-ng-href="api/login.php" class="red" target="_self">her</a>. Ønsker du å få tilgang? Bli abonnent <a href="http://logginn.kommunal-rapport.no/?origin_uri=/" class="red">her</a></div>
</div>
<div id="loginInfo" data-ng-show="!login">
	<h2 class="red">Feil abonnoment</h2>
	<div id="loginInfoCenter">Ser ut til at du har feil abonnoment, på tide å oppdatere litt? Skaff deg et annet abonnoment <a href="http://logginn.kommunal-rapport.no/?origin_uri=/" class="red">her</a></div>
</div>

<img src="http://data.kommunal-rapport.no/sites/default/files/xexample2.jpg.pagespeed.ic.DtOdMsAwPj.jpg">
</div>
