<div>
	<a href="/about"><h3 id="footerHeader">Hva er eiendomsdatabasen?</h3></a>
	<span>Eiendomsdatabasen er et datasett med transaksjoner av eiendommer i Norge, der en eller flere kommuner har vært involvert. Databasen inneholder data fra 1800-tallet og frem til i dag.</span>
	<span><a href="/about">Klikk for mer info om eiendomsdatabasen..</a></span>
</div>
<p id="madeBy">Utviklet av Lasse Drevland, Adrian Hundseth, Tor August Hødnebø, Kathrine Løfqvist, Caroline Odden og Kasper Rynning-Tønnesen.</p>
<p id="madeFor">&copy;Kommunal-Rapport 2016</p>
