<!--søkeicon i søkefeltet-->
<a href="/">Forside</a>
<div id="searchElements">
    <form id="searchForm" data-ng-submit="searchForm(searchForm)">
        <p>Trykk på feltene for å endre rekkefølge:</p>
        <i class="material-icons" id="searchIcon">search</i>
        <input type="text" data-ng-model="search.nameSearch" data-ng-change="searchDelay()" placeholder="Navn, kommune, bedrift å søke på.." id="search" autocomplete="off">
    </form>
</div>

<div id="pageElements">
    Sidestørrelse: <input type="radio" data-ng-model="search.pageSize" value="10" data-ng-change="searchDelay()" id="10" data-ng-init="search.pageSize = 10">10
    <input type="radio" data-ng-model="search.pageSize" data-ng-change="searchDelay()" value="50" id="50">50
    <input type="radio" data-ng-model="search.pageSize" data-ng-change="searchDelay()" value="100" id="100">100
</div>


<div id="tableContainer">
    {{ page }}
    <span data-ng-class="{'navButtonInactive' : page = 1, 'navButtonActive' : page > 1}" class="fa fa-chevron-left" data-ng-click="navigate(-1)" id="prevPage"></span>
    <span data-ng-class="{'navButtonInactive' : page == pageCount || pageCount <=2 || !searched, 'navButtonActive' : pageCount >= 2}" class="fa fa-chevron-right" data-ng-click="navigate(1)" id="nextPage"></span>
<table data-ng-show="showTable">
    <tr>
        <th data-ng-click="orderByMe('id'); reverseOrder()">
            id
            <span data-ng-show="orderBy == 'id' && !reverse" class="fa fa-caret-up"></span>
            <span data-ng-show="orderBy == 'id' && reverse" class="fa fa-caret-down"></span>
        </th>
        <th data-ng-click="orderByMe('Type'); reverseOrder()">
            Type
            <span data-ng-show="orderBy == 'Type' && !reverse" class="fa fa-caret-up"></span>
            <span data-ng-show="orderBy == 'Type' && reverse" class="fa fa-caret-down"></span>
        </th>
        <th data-ng-click="orderByMe('Navn'); reverseOrder()">
            Navn
            <span data-ng-show="orderBy == 'Navn' && !reverse" class="fa fa-caret-up"></span>
            <span data-ng-show="orderBy == 'Navn' && reverse" class="fa fa-caret-down"></span>
        </th>
    </tr>
    <tr data-ng-repeat="x in names | orderBy:orderBy:reverse | filter:searchName" data-ng-click="showTransactionsPerson(x.id, x.Navn)">
        <!--<a data-ng-href="detailed/{{ x.Personid }}">-->
            <td>{{x.id}}</td>
            <td>{{x.Type}}</td>
            <td class="name">{{x.Navn}}</td>
        <!--</a>-->
    </tr>
</table>
