<button type="button" class="btn btn-default backbutton" data-ng-click="back()">&lt; Tilbake</button>
<div id="navbar">
    <h3 id="transaksjonsType" data-ng-bind="type"></h3>
</div>

<div id="chartContainer">
    <div id="chartdiv">
    </div>
</div>

<div id="pageElements">
    <br>
    <span>Trykk på feltene for å endre rekkefølge:</span>
</div>

<div id="tableContainer">
    <span data-ng-class="{'navButtonInactive' : page == 1 || !showNavigation, 'navButtonActive' : page > 1 && showNavigation}" class="fa fa-chevron-left" data-ng-show="hideNavigation" data-ng-click="navigate(-1)" id="prevPage"></span>
    <span data-ng-class="{'navButtonInactive' : !more_results || !showNavigation, 'navButtonActive' : more_results && showNavigation }" class="fa fa-chevron-right" data-ng-show="hideNavigation" data-ng-click="navigate(1)" id="nextPage"></span>
    <img src="/images/loader.gif" data-ng-show="!showTable" alt="Loading.." />
    <table data-ng-show="showTable" class="propertyTable">
        <tr>
            <th data-ng-click="orderByMe('Dokumentdato')" data-ng-class="{'disableSort' : !sortReady}">
                Dato
                <span data-ng-show="orderBy == 'Dokumentdato' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'Dokumentdato' && reverse" class="fa fa-caret-down"></span>
            </th>
            <th data-ng-click="orderByMe('OmsetningsTypenavn')" data-ng-class="{'disableSort' : !sortReady}">
                Omsetningstype
                <span data-ng-show="orderBy == 'OmsetningsTypenavn' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'OmsetningsTypenavn' && reverse" class="fa fa-caret-down"></span>
            </th>
            <th data-ng-click="orderByMe('Salgssum')" data-ng-class="{'disableSort' : !sortReady}">
                Salgssum
                <span data-ng-show="orderBy == 'Salgssum' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'Salgssum' && reverse" class="fa fa-caret-down"></span>
            </th>
            <th data-ng-click="orderByMe('Dokumentnr')" data-ng-class="{'disableSort' : !sortReady}">
                Dokumentnummer
                <span data-ng-show="orderBy == 'Dokumentnr' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'Dokumentnr' && reverse" class="fa fa-caret-down"></span>
            </th>
            <!--<th data-ng-click="orderByMe('seller'); reverseOrder()">-->
            <th data-ng-class="{'disableSort' : !sortReady}">
                Selger
                <!--<span data-ng-show="orderBy == 'seller' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'seller' && reverse" class="fa fa-caret-down"></span>-->
            </th>
            <!--<th data-ng-click="orderByMe('buyer'); reverseOrder()">-->
            <th data-ng-class="{'disableSort' : !sortReady}">
                Kjøper
                <!--<span data-ng-show="orderBy == 'buyer' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'buyer' && reverse" class="fa fa-caret-down"></span>-->
            </th>
        </tr>
        <tr transaction-property-table transaction="transaction" data-ng-repeat="transaction in transactions" data-ng-click="setSelected(transaction.Dokumentnr)"
            data-ng-class="{ 'selected-row': transaction.Dokumentnr == selectedDokumentnr }" data-ng-mouseover="setSelected(transaction.Dokumentnr)" data-ng-mouseout="setSelected(null)">
        </tr>
    </table>
</div>

<p id="pageNumber" data-ng-bind="pageDisplay" data-ng-show="showTable"></p>

