<tr>
	<td id="involvedMunicipID" class="leftalign">
    	<span  data-ng-repeat="kommune in transaction.InvolverteKommuner track by $index">
    		<kommunevaapen  id="kommune.kommunenr"></kommunevaapen>
    		<span  data-ng-bind="kommune.kommunenavn | capitalFirstLettersFilter"></span>
    	</span>
    </td>
    <td id="involvementID" data-ng-bind="transaction.involvements"></td>
	<td id="etterSalgColumn" >
		<span data-ng-bind="transaction.etterSalg"></span>
		<span data-ng-if="transaction.etterSalg == undefined || transaction.etterSalg == ''" class="manglerData">MANGLER DATA</span>
	</td>
	

</tr>
