<tr>
	<td data-ng-bind="transaction.Dokumentdato"></td>
	<td class="leftalign" data-ng-bind="transaction.OmsetningsTypenavn"></td>
	<td class="rightalign" data-ng-bind="transaction.Salgssum | priceFilter"></td>
	<td data-ng-bind="transaction.Dokumentnr"></td>
	<td>
		<span ng-repeat="deltager in transaction.seller">
			<span ng-if="deltager.ukjent">Ukjent</span>
			<kommunevaapen id="deltager.kommunenr" data-ng-if="deltager.kommune"></kommunevaapen>
			<a class="transactionurl" data-ng-href="{{deltager.searchurl}}" data-ng-bind="deltager.navn"></a>
			<span data-ng-if="deltager.andelNevner > 1">
				<sup data-ng-bind="deltager.andelTeller"></sup>
				<span ng-if="!deltager.ukjent"> &frasl;</span>
				<sub data-ng-bind="deltager.andelNevner"></sub>
			</span>
			<br>
		</span>
	</td>
	<td>
		<span ng-repeat="deltager in transaction.buyer">
			<span ng-if="deltager.ukjent">Ukjent</span>
			<kommunevaapen id="deltager.kommunenr" data-ng-if="deltager.kommune"></kommunevaapen>
			<a class="transactionurl" data-ng-href="{{deltager.searchurl}}" data-ng-bind="deltager.navn"></a>
			<span data-ng-if="deltager.andelNevner > 1">
				<sup data-ng-bind="deltager.andelTeller"></sup>
				<span ng-if="!deltager.ukjent"> &frasl;</span>
				<sub data-ng-bind="deltager.andelNevner"></sub>
			</span>
			<br>
		</span>
	</td>
</tr>
