<div id="navbar">
    <a href="/">Forside</a><br>
    <a href="#" data-ng-click="back()">Tilbake</a>
    Transactions for id: {{ message}}, 
    <h3 id="transaksjonsType" data-ng-bind="type"></h3>


</div>

<div id="chartContainer">
    <div id="chartdiv">
    </div>
</div>

<div id="pageElements">
    <div id="pageSizeButtons" data-ng-show="showTable">
    Sidestørrelse: <input type="radio" data-ng-model="pageSize" value="10" data-ng-change="pageSizeChange()" id="10" data-ng-init="pageSize = 10">10
    <input type="radio" data-ng-model="pageSize" data-ng-change="pageSizeChange()" value="50" id="50">50
    <input type="radio" data-ng-model="pageSize" data-ng-change="pageSizeChange()" value="100" id="100">100
    </div>
    <br>
    <span>Trykk på feltene for å endre rekkefølge:</span>
</div>

<div id="tableContainer">
    {{ page }}
    <span data-ng-class="{'navButtonInactive' : page == 1 || !showNavigation, 'navButtonActive' : page > 1 && showNavigation}" class="fa fa-chevron-left" data-ng-show="hideNavigation" data-ng-click="navigate(-1)" id="prevPage"></span>
    <span data-ng-class="{'navButtonInactive' : !more_results || !showNavigation, 'navButtonActive' : more_results && showNavigation }" class="fa fa-chevron-right" data-ng-show="hideNavigation" data-ng-click="navigate(1)" id="nextPage"></span>
    <table data-ng-show="showTable" class="propertyTable">
        <tr>
            <th data-ng-click="orderByMe('Dokumentdato'); reverseOrder()">
                Dokumentdato
                <span data-ng-show="orderBy == 'Dokumentdato' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'Dokumentdato' && reverse" class="fa fa-caret-down"></span>
            </th>
            <th data-ng-click="orderByMe('OmsetningsTypenavn'); reverseOrder()">
                Omsetningstype
                <span data-ng-show="orderBy == 'OmsetningsTypenavn' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'OmsetningsTypenavn' && reverse" class="fa fa-caret-down"></span>
            </th>
            <th data-ng-click="orderByMe('Salgssum'); reverseOrder()">
                Salgssum
                <span data-ng-show="orderBy == 'Salgssum' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'Salgssum' && reverse" class="fa fa-caret-down"></span>
            </th>
            <th data-ng-click="orderByMe('Dokumentnr'); reverseOrder()">
                Dokumentnummer
                <span data-ng-show="orderBy == 'Dokumentnr' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'Dokumentnr' && reverse" class="fa fa-caret-down"></span>
            </th>
            <th data-ng-click="orderByMe('seller'); reverseOrder()">
                Selger
                <span data-ng-show="orderBy == 'seller' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'seller' && reverse" class="fa fa-caret-down"></span>
            </th>
            <th data-ng-click="orderByMe('buyer'); reverseOrder()">
                Kjøper
                <span data-ng-show="orderBy == 'buyer' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'buyer' && reverse" class="fa fa-caret-down"></span>
            </th>
        </tr>
        <tr transaction-property-table transaction="transaction" data-ng-repeat="transaction in transactions | orderBy:orderBy:reverse" data-ng-click="setSelected(x.Dokumentnr)"
            data-ng-class="{ 'selected-row': transaction.Dokumentnr == selectedDokumentnr }" data-ng-mouseover="setSelected(transaction.Dokumentnr)" data-ng-mouseout="setSelected(null)">
        </tr>
    </table>
</div>

<p id="pageNumber" data-ng-bind="pageDisplay" data-ng-show="showTable"></p>

