<tr>
	<td data-ng-bind="transaction.Eiendomsid"></td>
	<td class="leftalign">
		<kommunevaapen id="transaction.Kommunenr"></kommunevaapen>
		<span data-ng-bind="transaction.Kommunenavn | capitalFirstLettersFilter" ></span>
	</td>
	<td data-ng-bind="transaction.ForstRegistrert"></td>
	<td data-ng-bind="transaction.SistRegistrert"></td>
	<td data-ng-bind="transaction.AntallTransaksjoner"></td>
	<td data-ng-bind="transaction.involvements"></td>
	<td class="leftalign">
    	<span  data-ng-repeat="kommune in transaction.InvolverteKommuner track by $index">
    		<kommunevaapen  id="kommune.kommunenr"></kommunevaapen>
    		<span  data-ng-bind="kommune.kommunenavn | capitalFirstLettersFilter"></span>
    	</span>
    </td>
</tr>
