<tr>
    
	<td id="involvedMunicipID" class="leftalign">
    	<span  data-ng-repeat="kommune in transaction.InvolverteKommuner track by $index">
    		<kommunevaapen  id="kommune.kommnr"></kommunevaapen>
    		<span  data-ng-bind="kommune.kommunenavn | capitalFirstLettersFilter"></span>
            <br>
    	</span>
    </td>
    <td id="adresseColumn" class="leftalign">
    <span data-ng-bind="transaction.adresse"></span>
    </td>
    <td id="involvementID">
        <span data-ng-repeat="involvement in transaction.involvements">
            <span data-ng-bind="involvement.kommuner"></span>
            <br>
        </span>
    </td>
	<td id="etterSalgColumn">
        <span data-ng-if="transaction.flagClass == 'posChange'" tooltips tooltip-template="Denne transaksjonen har hatt en årlig prisøkning på mer enn 60% per år etter kommunen solgte"><span data-ng-bind="transaction.etterSalg" data-ng-class="transaction.flagClass"></span></span>
        <span data-ng-if="transaction.flagClass == ''"  data-ng-bind="transaction.etterSalg" data-ng-class="transaction.flagClass"></span>
        <span data-ng-if="transaction.flagClass == 'negChange'" tooltips tooltip-template="Denne transaksjonen har hatt prisnedgang på mer enn 60% per år etter kommunen solgte"><span data-ng-bind="transaction.etterSalg" data-ng-class="transaction.flagClass"></span></span>
		<span  data-ng-if="transaction.etterSalg == undefined || transaction.etterSalg == ''" class="manglerData">MANGLER DATA</span>
	</td>
    
</tr>
