<a href="/">Forside</a>
Transactions for id: {{ message}}, 
<h3 id="transaksjonsType">{{ type }}</h3>

<div id="chartContainer">
    <div id="chartdiv">
    </div>
</div>

<div id="pageElements">
    Sidestørrelse: <input type="radio" data-ng-model="pageSize" value="10" data-ng-change="queryTransaction()()" id="10" data-ng-init="pageSize = 10">10
    <input type="radio" data-ng-model="pageSize" data-ng-change="queryTransaction()()" value="50" id="50">50
    <input type="radio" data-ng-model="pageSize" data-ng-change="queryTransaction()()" value="100" id="100">100
</div>

<div id="tableContainer">
    {{ page }}
    <span data-ng-class="{'navButtonInactive' : page == 1 || !showNavigation, 'navButtonActive' : page > 1 && showNavigation}" class="fa fa-chevron-left" data-ng-show="hideNavigation" data-ng-click="navigate(-1)" id="prevPage"></span>
    <span data-ng-class="{'navButtonInactive' : !more_results || !showNavigation, 'navButtonActive' : more_results && showNavigation }" class="fa fa-chevron-right" data-ng-show="hideNavigation" data-ng-click="navigate(1)" id="nextPage"></span>
    <table data-ng-show="showTable" class="propertyTable">
        <tr>
            <th data-ng-click="orderByMe('Dokumentdato'); reverseOrder()">
                Dokumentdato
                <span data-ng-show="orderBy == 'Dokumentdato' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'Dokumentdato' && reverse" class="fa fa-caret-down"></span>
            </th>
            <th data-ng-click="orderByMe('OmsetningsTypenavn'); reverseOrder()">
                Omsetningstype
                <span data-ng-show="orderBy == 'OmsetningsTypenavn' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'OmsetningsTypenavn' && reverse" class="fa fa-caret-down"></span>
            </th>
            <th data-ng-click="orderByMe('Salgssum'); reverseOrder()">
                Salgssum
                <span data-ng-show="orderBy == 'Salgssum' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'Salgssum' && reverse" class="fa fa-caret-down"></span>
            </th>
            <th data-ng-click="orderByMe('Dokumentnr'); reverseOrder()">
                Dokumentnummer
                <span data-ng-show="orderBy == 'Dokumentnr' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'Dokumentnr' && reverse" class="fa fa-caret-down"></span>
            </th>
            <th data-ng-click="orderByMe('seller'); reverseOrder()">
                Selger
                <span data-ng-show="orderBy == 'seller' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'seller' && reverse" class="fa fa-caret-down"></span>
            </th>
            <th data-ng-click="orderByMe('buyer'); reverseOrder()">
                Kjøper
                <span data-ng-show="orderBy == 'buyer' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'buyer' && reverse" class="fa fa-caret-down"></span>
            </th>
        </tr>
        <tr data-ng-repeat="x in transactions | orderBy:orderBy:reverse" data-ng-click="setSelected(x.Dokumentnr)"
            data-ng-class="{ 'selected-row': x.Dokumentnr == selectedDokumentnr }" data-ng-mouseover="setSelected(x.Dokumentnr)" data-ng-mouseout="setSelected(null)">

            <!--<a data-ng-href="detailed/{{ x.Personid }}">-->
                <td data-ng-bind="x.Dokumentdato"></td>
                <td data-ng-bind="x.OmsetningsTypenavn"></td>
                <td data-ng-bind="x.Salgssum | priceFilter "></td>
                <td data-ng-bind="x.Dokumentnr"></td>
                <td data-ng-bind-html="x.seller | participantNameFilter"></td>
                <td data-ng-bind-html="x.buyer | participantNameFilter"></td>
            <!--</a>-->
        </tr>
    </table>
</div>

<p id="pageNumber" data-ng-bind="pageDisplay"></p>