<div id="navbar">
    <a href="/">Forside</a><br>
    <a href="#" data-ng-click="back()">Tilbake</a>
    Transactions for id: {{ message}}, 
    <h3 id="transaksjonsType" data-ng-bind="type"></h3>


</div>

<div id="pageElements">
    <div id="pageSizeButtons"data-ng-show="hideNavigation">
    Sidestørrelse: <input type="radio" data-ng-model="pageSize" value="10" data-ng-change="queryTransaction()()" id="10" data-ng-init="pageSize = 10">10
    <input type="radio" data-ng-model="pageSize" data-ng-change="queryTransaction()()" value="50" id="50">50
    <input type="radio" data-ng-model="pageSize" data-ng-change="queryTransaction()()" value="100" id="100">100
    </div>
    <br>
    <span>Trykk på feltene for å endre rekkefølge:</span>
</div>

<div id="tableContainer">
    <span data-ng-class="{'navButtonInactive' : page == 1 || !showNavigation, 'navButtonActive' : page > 1 && showNavigation}" class="fa fa-chevron-left" data-ng-show="hideNavigation" data-ng-click="navigate(-1)" id="prevPage"></span>
    <span data-ng-class="{'navButtonInactive' : !more_results || !showNavigation, 'navButtonActive' : more_results && showNavigation }" class="fa fa-chevron-right" data-ng-show="hideNavigation" data-ng-click="navigate(1)" id="nextPage"></span>
    <table data-ng-show="showTable">
        <tr>
            <th data-ng-click="orderByMe('Eiendomsid'); reverseOrder()">
                Eiendomsid
                <span data-ng-show="orderBy == 'Eiendomsid' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'Eiendomsid' && reverse" class="fa fa-caret-down"></span>
            </th>
            <th data-ng-click="orderByMe('Kommunenavn'); reverseOrder()">
                Kommune
                <span data-ng-show="orderBy == 'Kommunenavn' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'Kommunenavn' && reverse" class="fa fa-caret-down"></span>
            </th>
            <th data-ng-click="orderByMe('ForstRegistrert'); reverseOrder()">
                Først Registrert
                <span data-ng-show="orderBy == 'ForstRegistrert' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'ForstRegistrert' && reverse" class="fa fa-caret-down"></span>
            </th>
            <th data-ng-click="orderByMe('SistRegistrert'); reverseOrder()">
                Sist Registrert
                <span data-ng-show="orderBy == 'SistRegistrert' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'SistRegistrert' && reverse" class="fa fa-caret-down"></span>
            </th>
            <th data-ng-click="orderByMe('AntallTransaksjoner'); reverseOrder()">
                Antall Transaksjoner
                <span data-ng-show="orderBy == 'AntallTransaksjoner' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'AntallTransaksjoner' && reverse" class="fa fa-caret-down"></span>
            </th>
            <th data-ng-click="orderByMe('Involvering'); reverseOrder()">
                Involvering
                <span data-ng-show="orderBy == 'Involvering' && !reverse" class="fa fa-caret-up"></span>
                <span data-ng-show="orderBy == 'Involvering' && reverse" class="fa fa-caret-down"></span>
            </th>
        </tr>
        <tr transaction-table transaction="transaction" data-ng-repeat="transaction in transactions | orderBy:orderBy:reverse" data-ng-click="showTransactionsProperty(transaction.Eiendomsid)">
        </tr>
    </table>
</div>

<p id="pageNumber" data-ng-bind="pageDisplay" data-ng-show="showTable"></p>