<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.2/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.2/mapbox-gl.css' rel='stylesheet' />

        <style>
            body { margin:0; padding:0; }
            #map { position:absolute; top:10%; bottom:0; width:100%; }
        </style>

    </head>
<body>

<p>Click the table headers to change the sorting order:</p>

<div id='map'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoidG9yYWhvIiwiYSI6ImNpa3ppZGRndzAwNXl4MW0wOWJ6YXk4MnkifQ.446Mkrk-ish_HQctcES5Dg';

var bounds = [
    [-12.833854, 50.781999], // Southwest coordinates
    [48.651411, 74.065390]  // Northeast coordinates
];

var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/toraho/cikzmx6qg0041c9m3wohprqui', //stylesheet location
    center: [18.006701, 65.518472], // starting position
    zoom: 4, // starting zoom
    maxBounds: bounds // Sets bounds as max
});

//disable rotation
map.dragRotate.disable();
map.touchZoomRotate.disableRotation();

/*
#[zoom>=4][zoom<=8] {
    map.scrollZoom.disable();
  }
*/
// disable map zoom when using scroll
//map.scrollZoom.disable(zoom<=4&&zoom>=);

</script>


<div data-ng-app="myApp" data-ng-controller="namesCtrl">

<input type="text" data-ng-model="searchName" data-ng-change="searchDelay()" placeholder="Name to search by">

<table border="1">
<tr>
<th data-ng-click="orderByMe('Personid'); reverseOrder()">
    Personid
    <span data-ng-show="myOrderBy == 'Personid' && !reverse" class="fa fa-caret-up"></span>
    <span data-ng-show="myOrderBy == 'Personid' && reverse" class="fa fa-caret-down"></span>
</th>
<th ng-click="orderByMe('AnonymisertPersonnr'); reverseOrder()">
    AnonymisertPersonnr
    <span data-ng-show="myOrderBy == 'AnonymisertPersonnr' && !reverse" class="fa fa-caret-up"></span>
    <span data-ng-show="myOrderBy == 'AnonymisertPersonnr' && reverse" class="fa fa-caret-down"></span>
</th>
<th ng-click="orderByMe('Personidtypekode'); reverseOrder()">
    Personidtypekode
    <span data-ng-show="myOrderBy == 'Personidtypekode' && !reverse" class="fa fa-caret-up"></span>
    <span data-ng-show="myOrderBy == 'Personidtypekode' && reverse" class="fa fa-caret-down"></span>
</th>
<th ng-click="orderByMe('Navn'); reverseOrder()">
    Navn
    <span data-ng-show="myOrderBy == 'Navn' && !reverse" class="fa fa-caret-up"></span>
    <span data-ng-show="myOrderBy == 'Navn' && reverse" class="fa fa-caret-down"></span>
</th>
</tr>
<tr data-ng-repeat="x in names | orderBy:myOrderBy:reverse | filter:searchName">
<td>{{x.Personid}}</td>
<td>{{x.AnonymisertPersonnr}}</td>
<td>{{x.Personidtypekode}}</td>
<td class="name">{{x.Navn}}</td>
</tr>
</table>

</div>

<script>
angular.module('myApp', []).controller('namesCtrl', function($scope, $http, $timeout) {
    var _timeout;

    $scope.reverse  = false;

    $scope.searchDelay = function(){
        if(_timeout){ //if there is already a timeout in process cancel it
            $timeout.cancel(_timeout);
        }
        _timeout = $timeout(function(){
            console.log("loading things");
            $http.get("/api/test.php?name=" + $scope.searchName)
                .then(function (response) {$scope.names = response.data.records;});

            _timeout = null;
        },500);
    }

    $scope.orderByMe = function(x) {
        if($scope.myOrderBy != x){
            $scope.reverse = !$scope.reverse;
        }
        $scope.myOrderBy = x;
    }
    $scope.reverseOrder = function(){
        $scope.reverse = !$scope.reverse;
    }
});
</script>

</body>
</html>
