<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="kommunalRapport.js"></script>
<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="reset.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="kommunalRapport.css">
	<title>Kommunal Rapport</title>
</head>
<body ng-app="app" ng-controller="appCtrl">
	<!--For KommunalRapport sin logo/header-->
	<header>

	</header>
	<!--forsøk på søkeicon i søkefeltet-->
	<md-icon md-svg-src="search.svg"></md-icon>

	<!--Søkefelt-->
	<p><input type="text" ng-model="input" ng-bind="Input" id="search"></p>
	<p>{{elements}}</p>
	<!--Resultat tabell-->
	<table border="1" width="60%">
			<tr>
				<th>Personid</th>
			
			</tr>
			<tr ng-repeat="x in elements">
				<td>{{x.Personid}}</td>
				
			</tr>
		</table>

</body>
</html>